*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.abundance{
  padding: 45px 25px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  line-height: 2rem;
  font-family: 'Poppins', sans-serif;
}
.abundance .header{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.abundance .header div{
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}
.abundance .header label{
  font-weight: bold;
}
.abundance .header span{
  color: grey;
}
@media (min-width: 600px) {
 .abundance{
  padding: 45px;
 } 
}
@media (min-width: 990px) {
  .abundance{
   padding: 45px 125px;
  } 
 }